{% extends 'base.html' %}


{% block title %}
  Записи группы {{ group.title }}
{% endblock %}


{% block content %}
  <h1>
    {% block header %} 
      {{ group.title }} 
    {% endblock %}
  </h1>
  <p>
    {{ group.description|linebreaksbr }}
  </p>
  <hr>
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: 
          <a href="{% url 'posts:profile' post.author %}">
          {{ post.author }}
          </a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>      
      <p>
        {{ post.text|linebreaksbr }}
      </p>
      <a class="nav-link" href="{% url 'posts:post_detail' post.id %}">
        подробная информация
      </a>
    </article>
    {% if not forloop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% include 'includes/paginator.html' %}
{% endblock %}